{% extends 'base.html.twig' %}

{% block body %}
    <h1>Notebook</h1>

    {% for note in notes %}
                    <div class="post-preview">
                        <a href="{{ path('note_show', { 'id': note.id }) }}">
                            <h2 class="post-title">
                                {{ note.noteSubject }}
                            </h2>

                            <h3 class="post-subtitle">
                                {{ note.noteBody }}
                            </h3>
                        </a>
                        <p class="post-meta">
                            <strong><span style="color:black">{{ note.noteAuthor }}</span></strong>
                            wrote note number {{ note.id }} with {{ note.noteBodyCharCount }} letters on

                            <span style="color:black">
                                {% if note.noteDateTime %}
                                {{ note.noteDateTime|date('l, F jS Y H:i:s') }}
                                {% endif %}
                            </span>

                            <a href="{{ path('note_edit', { 'id': note.id }) }}">Edit</a></p>


                    </div>
                    <hr>

    {% endfor %}

            <a href="{{ path('note_new') }}" class="btn btn-default">Write a new page</a>

{% endblock %}
